* {
  font-family: 'Handjet', cursive;
  font-size: 120%;
}


.intro, .end{
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.quiz {
  width: 60%;
  margin: 0 auto;
}

li {
  list-style-type: none;
  padding: 5px;
}

li:hover {
  cursor: pointer;
  background-color: rgb(187, 187, 187);
}