* {
  font-family: 'Handjet', cursive;
  font-size: 120%;
}


.intro {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.quiz {
  width: 60%;
  margin: 0 auto;
}

li {
  list-style-type: none;
}